.price-range {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1px;
  background: var(--color-accent);

  &__wrapper {
    padding: 16px;
  }

  &__price {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 8px;
    z-index: +1;
    font-family: sans-serif;
    font-size: 8px;
    color: var(--color-text-secondary);

    &::before {
      width: 3px;
      height: 3px;
      display: block;
      content: '';
      border-radius: 50%;
      background: var(--color-bg-elevated);
      border: 1px solid var(--color-accent);
      margin-bottom: 4px;
    }

    &:nth-child(1) {
      left: -4px;
      top: -2px;
    }
    &:nth-child(2) {
      margin-left: -4px;
      z-index: +2;
      top: -3px;
      &::before {
        width: 5px;
        height: 5px;
        background: var(--color-accent);
      }
    }
    &:nth-child(3) {
      right: -4px;
      top: -2px;
    }
  }
}
